@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #f5f6fa;
  overflow-x: hidden;
}

.star{
  position: fixed;
  left: 20px;
  top: 20px;
  z-index: 999;
}

header{
  width: 100%;
  height: 100vh;
  position: relative;

  h1{
    position: absolute;
    left: 20%;
    top: 55%;
    font-size: 6vw;
    color: whitesmoke;
    z-index: 1;
    
    .intro{
      font-size: 2vw;
      font-weight: 200;
      width: 500px;
      color: rgb(199, 245, 33);
    }
  }

  .bg{
    width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
  }
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  
  
  .slider__container{
    width: 100vw;
    background: #000;
    
    .slider{
      display: flex;
      flex-wrap: nowrap;
      
      p{
        font-weight: 500;
        font-size: 15vw;
        white-space: nowrap;
        color: whitesmoke;
      }
    }
  }
}

.lines__container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;

  .line{
    width: 100%;
    height: 2px;
    background: rgb(180, 180, 180);
    transform: translateX(-100%);
    z-index: 2;
  }

  .skiller-container{
    width: calc(100% - 10vw);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width .2s ease;

    p{
      text-align: left;
      font-size: 4vw;
    }

    &:hover{
      width: calc(100% - 12vw);
    }
  }
}

// .projects{
//   width: 100%;
//   height: 100vh;
//   background: red;

//   .projects__slider{
//     width: 100%;
//     height: 15vh;
//     display: flex;
//     background: blue;

//     .img__project{
//       width: 10%;
//       height: 100%;
//       outline: 1px solid black;

//       .square{
//         width: 100%;
//         height: 100%;
//         border: 3px solid red;
//       }
//     }

//   }
// }

footer {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  font-size: 2vw;
  background: rgb(0, 0, 0);

  .ligne-arrondie {
    position: absolute;
    top: -10%;
    width: 110%; /* Ajustez la largeur selon vos besoins */
    height: 200px; /* Ajustez la hauteur pour la longueur de la ligne */
    background-color: whitesmoke;
    border-radius: 0 0 60% 60%;
    transition: all .3s linear;
  }
}
